body {
    background-color:lightsteelblue;
}
h1 {
    color: purple;
    display: flex;
    font-size: 50px;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}